<center>
<h3>Додати студента:</h3>

<form id="contact_form" action="" method="post">
    <input type="text" class="form-control" name="name" placeholder="Ім'я" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Прізвище" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Вік" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Стать" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Група" /><br/>
    <input type="text" class="form-control" name="email" placeholder="Факультет" /><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Додати</button>
</form>
</center>